<h2>All Shipments</h2>

<% @boats.each do |t| %>
	<p>Shipment Name:<%= t.name %></p>
	<p># of Containers: <%= t.containermax %></p>
	<p>Location: <%= t.location %></p>
	<p>Shipment Owner: <%= t.user.username %></p>
<% end %>
